HASTA_30_05/TIENDA_OLD/App_WebReferences/gasco/mail/SucOnlineServ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gasco.DataType" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gasco.DataType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RetornoStandard">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Retorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RetornoStandard" nillable="true" type="tns:RetornoStandard" />
</xs:schema>